<div
  class="modal fade"
  id="editStudent"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editStudentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editStudentLabel">Edit Student</h1>
      </div>
      <div class="modal-body">
        <div
            class="alert alert-danger"
            id="erroreditstdmsg"
            name="erroreditstdmsg"
            role="alert"
            style="display: none"
          ></div>
        <form id="editStudentForm" autocomplete="off" enctype="multipart/form-data">
          <div class="mb-3 d-flex flex-column justify-content-center text-center">
            <img src="{{ student.picture if student.picture is not none else url_for('static', filename='picture.png') }}" class="img rounded-pill align-self-center" id="edit_photo_preview" style="width: 100px; height: 100px; object-fit: cover; object-position: center;"> 
            <input class="form-control rounded" type="file" id="editFormFile" name="editFormFile" style="display: none;" accept="image/*">
            <label id="edituploadBtn" for="editFormFile" style="cursor: pointer ; box-shadow: rgb(175, 175, 30);"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
              <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
              <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
            </svg></label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="edit_student_id"
              name="edit_student_id"
              placeholder="Course Code"
              required
              value="{{ request.form['edit_student_id'] }}"
              maxlength="20"
            />
            <label for="edit_student_id" class="text-secondary-emphasis fw-bold"
              >Student Id</label
            >
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="edit_student_first_name"
              name="edit_student_first_name"
              placeholder="Course name"
              autocomplete="off"
              required
              value="{{ request.form['edit_student_first_name'] }}"
            />
            <label
              for="edit_student_first_name"
              class="text-secondary-emphasis fw-bold"
              >Student First Name</label
            >
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="edit_student_last_name"
              name="edit_student_last_name"
              placeholder="Course name"
              autocomplete="off"
              required
              value="{{ request.form['edit_student_last_name'] }}"
            />
            <label
              for="edit_student_last_name"
              class="text-secondary-emphasis fw-bold"
              >Student Last Name</label
            >
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              id="edit_student_course_code"
              name="edit_student_course_code"
              aria-label="Floating label select example"
              required
            >
              <option value="" selected disabled>Select</option>
              {% for course in courses%}
              <option value="{{course.code}}">{{course.code}}</option>
              {% endfor %}
            </select>
            <label
              for="edit_student_course_code"
              class="text-secondary-emphasis fw-bold"
              >What Course</label
            >
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="edit_student_year"
              name="edit_student_year"
              placeholder="Course name"
              autocomplete="off"
              required
              value="{{ request.form['edit_student_year'] }}"
            />
            <label
              for="edit_student_year"
              class="text-secondary-emphasis fw-bold"
              >Student Year</label
            >
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              id="edit_student_gender"
              name="edit_student_gender"
              aria-label="Floating label select example"
              required
            >
              <option value="" selected disabled>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <label
              for="edit_student_gender"
              class="text-secondary-emphasis fw-bold"
              >Gender</label
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark fs-5"
          id="closemodal"
          data-bs-target="#editStudent"
          data-bs-dismiss="modal"
          onclick="reloadPage()"
        >
          Close
        </button>
        <button
          type="submit"
          form="editStudentForm"
          class="btn btn-outline-primary fs-5"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function reloadPage() {
    window.location.reload()
  }
</script>