<!-- DELETE STUDENT MODAL -->
<div
  class="modal fade"
  id="deleteStudent"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="deleteStudentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form id="deleteStudentForm" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteStudentLabel">
            Delete Student?
          </h1>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete the student with ID:
            <strong><span id="studentIdDisplay"></span></strong>?
          </p>
          <input type="hidden" id="deleteStudentId" name="student_id" />
          <div
            class="alert alert-danger"
            id="errordeletstdemsg"
            role="alert"
            style="display: none"
          ></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-dark fs-5"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-danger fs-5" id="confirmDelete">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
  
</div>
<div class="alert alert-success" id="successdeletstdemsg" role="alert" style="display: none"></div>

